blockquote{
    background-color: var(--very-dark-magenta);
    border-radius: .5rem;
    margin-bottom: var(--spacer);
    padding: 1.25rem;
    max-width: 500px;
    min-width: 320px;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    section{
        color: white;
        margin-left: -75%; //Nastavit vzdialenost od img, mozno ani netreba uz
        p:last-of-type{
            color: var(--dark-grayish-magenta);
        }
    }
    img{
        border-radius: 50%;
        width: 3rem;
    }
    p{
        color: var(--white);
        font-weight: 500;
        grid-column: 1 / -1;
    }
}

@media only screen and (min-width: 1024px){
    blockquote{
       max-width: 375px;
       &:first-of-type{
        transform: translateY(-1.5rem);
       }
       &:last-of-type{
        transform: translateY(1.5rem);
       }
    }

    .blockquotes{
        max-width: 1440px;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.8rem;
    }
}

@media only screen and (min-width: 1440px){
    blockquote{
        font-size: 1.5rem;
        max-width: 950px;
        img{
            margin-top: 1rem;
            width: 4rem;
        }
        .buyer{
            margin-top: 8%;
            margin-left: -60%;
        }
    }
    
}