.container>h1{
    color: var(--very-dark-magenta);
    font-size: 3rem;
    line-height: .8;
    padding-top: 2rem;
    text-align: center;
}

.container>p{
    color: var(--very-dark-magenta);
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
}