.first-section>h1{
    color: var(--very-dark-magenta);
    font-size: 3rem;
    line-height: .8;
    padding-top: 2rem;
    text-align: center;
}

.first-section>p{
    color: var(--very-dark-magenta);
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    text-align: center;
}

@media only screen and (min-width: 1440px){
    .first-section{
        max-width: 650px;
        padding-right: 5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h1{
            text-align: left;
        }
        p{
            text-align: left;
        }
    }

    .flexbox--first-section{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

    }
}