body>h1{
    color: var(--very-dark-magenta);
    font-size: 3rem;
    line-height: .8;
    padding-top: 2rem;
    text-align: center;
}

body>p{
    color: var(--very-dark-magenta);
    margin-top: .5rem;
    text-align: center;
}