@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    // COLORS
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    --spacer: 2rem;
}

body{
    background-image: 
        url(../images/bg-pattern-top-mobile.svg); 
        // , url(../images/bg-pattern-bottom-mobile.svg)
    background-size: 33%; //25%
    background-position: top left; // , bottom, right
    background-repeat: no-repeat;
    font-size: 1.15rem;
    font-family: "League Spartan", sans-serif;
    padding-top: 5rem;
}

.container{
    padding-left: 2rem;
    padding-right: 2rem;
}

.attribution {
    font-size: .8rem;
    text-align: center;
}
.attribution a {
    color: var(--very-dark-magenta);
    cursor: pointer;
    transition: .5s color ease-in-out;
    &:focus, &:hover{
        color: var(--soft-pink);
    }
 }

